/* Обнуление */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Шрифты */
@font-face {
    font-family: 'FiraSans';
    /* Гарнитура шрифта */
    src: local(FiraSans), url(../fonts/Fira_Sans/Fira_Sans/FiraSans-Black.ttf);
    /* Для остальных браузеров */
}

/*
@font-face {
    font-family: 'Open Sans';
    Гарнитура шрифта
    src: local(OpenSans), url(../fonts/opensans/OpenSans-Bold.ttf);
    Для остальных браузеров
}

@font-face {
    font-family: 'Sourse Sans Pro';
    Гарнитура шрифта
    src: local(SourseSansPro), url(../fonts/sourcesanspro/SourceSansPro-Black.otf);
    Для остальных браузеров
} */






header {
    background-image: url("../img/fon/bg1.jpg");
    width: 1440px;
    height: 794px;
    position: relative;
}

.head {
    width: 1440px;
    padding: 55px 127px 0 130px;
}

.head img {
    width: 121px;
    height: 45px;
}

.head td {
    font-size: 19px;
    color: white;
}

/* Тело сайта */
body {
    width: 1440px;
    font-size: 16px;
    color: #4A4A4A;
    margin: 0 auto;
}

.imgbg {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 1072px;

}

h1 {
    color: white;
    width: 514px;
    text-align: center;
}

h1 b {
    width: 499px;
    font-size: 128px;
    font-family: 'FiraSans';
    line-height: 90px;
    font-weight: 800px;
    float: left;
}

h1 .st1 {
    font-family: 'Open Sans';
    width: 499px;
    font-weight: 700;
    font-size: 56px;
    line-height: 76px;
    letter-spacing: 50px;
    float: left;
}

h1 .st2 {
    width: 499px;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 16px;
}

#block1 {
    width: 1072px;
    height: 828px;
    position: absolute;
    top: 365px;
    left: 485px;
}

#block1 h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
}

#block1 button {
    display: block;
    margin: 63px 0 0 150px;
    width: 186px;
    height: 60px;
    background-color: white;
    border: none;
    font-weight: 800;
    font-size: 17px;
    color: #4A4A4A;
    font-family: 'Open Sans';
    cursor: pointer;
}

h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    /* text-transform: uppercase; */
}

#block2 h2, #block4 h2, #block6 h2 {
    color: #000000;
}

#block3 h2, #block5 h2 {
    color: #ffffff;
}

.logoTel {
    width: 1065px;
    height: 188px;
    position: absolute;
    top: 228px;
    left: 188px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.log1 img {
    width: 94px;
    height: 116px;
}

.log1 img~.log1 img {
    width: 99px;
    height: 114px;
}

.log1 p {
    color: white;
    font-family: 'Sourse Sans Pro';
    width: 95px;
    text-align: center;
    font-size: 24px;
}

#block2 {
    position: relative;
}

#block2 h2 {
    width: 230px;
    height: 36px;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 6px;
    margin: 0 auto;
    color: #4A4A4A;
    margin-top: 53px;
}

#block2 .but1 {
    position: absolute;
    left: 80.83%;
    top: 6.69%;
    width: 146px;
    height: 46px;
    border: 1px solid #4A4A4A;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
}

#block2 .blockText {
    margin: 111px 0 0 370px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #4A4A4A;
    width: 680px;
    height: 203px;
}

.peopleFlex {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.peopleFlex div {
    width: 341px;
    position: relative;
}

.peopleFlex img {
    margin: 0 auto;
    display: block;
}

.peopleFlex div h3 {
    text-align: center;
    font-family: 'FiraSans';
    margin: 10px 0 23px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FF7E03;
}

.peopleFlex div p {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #4A4A4A;
}


#block3 {
    margin-top: 71px;
    width: 1440px;
    height: 794px;
    background-image: url('../img/fon/bg2.jpg');
}

#block3 .topFlex h2 {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 6px;

}

#block3 .topFlex {
    padding-top: 53px;
    padding-bottom: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#block3 div img {
    width: 121px;
    height: 45px;
}


#block3 .but2 {
    width: 146px;
    height: 46px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

#block3 .content {
    width: 1108px;
    height: 504px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

#block3 .content div {
    display: flex;
    flex-direction: column;
}

#block3 .content img {
    width: 18px;
    height: 25px;
}

.flex1 p, .flex2 p {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

.flex1 h2 {
    color: blue;
}


.flex1 .hOne {
    position: absolute;
    top: 18px;
    left: 69px;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.flex1 .pOne {
    position: absolute;
    top: 109px;
    left: 71px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.flex1 .hTwo {
    position: absolute;
    top: 134px;
    left: 72px;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 36px;
}

.flex1 .pTwo {
    position: absolute;
    top: 181px;
    left: 72px;
    font-family: 'Fira Sans';
    font-size: 17px;
    line-height: 20px;
}

.flex1 .pTwo img {
    margin-right: 5px;
}

.flex1 .hThree {
    position: absolute;
    top: 256px;
    left: 69px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.flex1 .pThree {
    position: absolute;
    top: 344px;
    left: 69px;
    font-family: 'Source Sans Pro';
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 13.2778px;
}

.flex1 .pFour {
    position: absolute;
    top: 362px;
    left: 69px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
}

.flex2 .hOne {
    position: absolute;
    top: 18px;
    left: 611px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.flex2 .pOne {
    position: absolute;
    top: 107px;
    left: 611px;
    font-family: 'Fira Sans';
    font-size: 17px;
    line-height: 24px;
}

.flex2 .pTwo {
    position: absolute;
    top: 140px;
    left: 611px;
    font-family: 'Fira Sans';
    font-size: 17px;
    line-height: 24px;
}

.flex2 .hTwo {
    position: absolute;
    top: 344px;
    left: 610px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 17.7778px;
}

.flex2 .pThree {
    position: absolute;
    top: 362px;
    left: 610px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
}

#block4 .topFlex {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#block4 .topFlex h2 {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 6px;
    color: #4A4A4A;
}

#block4 .topFlex p {
    font-family: 'Source Sans Pro';
    font-size: 19px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
    color: #4A4A4A;
}

#block4 button {
    display: block;
    margin: 0 auto;
    margin-top: 62px;
    width: 186px;
    height: 66px;
    background: linear-gradient(0deg, #FF7E03, #FF7E03);
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

#block4 button:hover, #block3 button:hover, #block2 button:hover, #block1 button:hover{
    color:white;
    background-image: linear-gradient(to right, #fc6f5c, #fe7854, #ff814d, #ff8b45, #fe953e, #fd983b, #fb9b39, #fa9e36, #fa9b37, #fb9838, #fb953a, #fb923b);
}

